<!DOCTYPE html>
<html lang="en" ng-app="app" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Investment Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <section ng-controller="pricesController as scope">
    <div>
      Password
      <input type="password" ng-model="scraper.passPhrase" />
      From
      <input type="text" ng-model="scraper.from" />
      To
      <input type="text" ng-model="scraper.to" />
      <button ng-click="scraper.scrape()">Scrape</button>
    </div>
    <table>
      <thead>
        <th></th>
        <th>Date</th>
        <th ng-repeat="fund in funds">{{fund}}</th>
      </thead>
      <tbody>
        <tr ng-repeat="date in model">
          <td><button ng-click="date.delete()">x</button></td>
          <td>{{date.date}}</td>
          <td ng-repeat="fund in date.funds">{{fund.value}}</td>
        </tr>
    </tbody>
    </table>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>
  <script src="config.js"></script>
  <script src="app.js"></script>
</body>
</html>